.left-container{
	width: 400px;
	height: 200px;
	padding: 10px;
	border: 1px solid black;
	float: left;
}

.right-container{
	width: 400px;
	padding: 10px;
	border: 1px solid black;
	float: left;
    margin-left: 100px;
    text-align: center;
}

.count {
	margin-left: 20px;
}

.container {
	float: right;
}

.header {
	height: 50px;
    width: 100%;
    background: cadetblue;
}